* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.ul {
    display: flex;
    justify-content: space-between;
}

.main {
    width: 510px;
    font-size: 64px;
    color: #1F3F68;
}

.par {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.par1 {
    width: 425px;
}

.main2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.main3 {
    font-size: 36px;
    text-align: center;
}

.card-box {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 359px;
}

.main4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.input {
    border-radius: 10px;
}

.push {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.question {
    width: 495px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
}

.contacts__input {
    display: flex;
}

.footer__name {
    font-size: 36px;
}

.cont {
    flex-grow: 1;
}